body {
  background: white;
  
}
header {
  background-color: rgba(19, 138, 138, 0.788);
  color: #ffffff;
  padding: 5px;
  text-align: center;
}
main {
  font-size: 20px;
  width: 80%;
  margin: 20px auto; 
  padding-top: 20px;
  background: rgb(248, 254, 255);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, .2);
}
#me {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  width: 25%;
  border-radius: 10px;
}
section {
  margin: 0 10px 10px 30px;
}
section ul li {
  margin-left: 20px;
}
pre {
  font-size: 12pt;
}
footer {
  font-size: 14pt;
  background-color: rgba(19, 138, 138, 0.788);
  color: rgb(39, 38, 38);
}
footer div {
  padding: 10px 20px 20px 120px;
}
footer a {
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
footer img {
  width: 70px;
}
